* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    margin: 10px;
}

#mainCanvas {
    filter: blur(0.7px);
}

#canvases {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    justify-content: space-evenly;
    margin: 20px auto;
    padding: 10px;
    height: fit-content;
    width: fit-content;
}

.row-flex {
    flex-direction: row;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
    padding: 20px;
    border: 3px solid black;
    justify-content: space-evenly;
}

.option {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 9px double black;
    padding: 20px 40px;
    margin: 10px;
    width: 425px;
}

.option h1 {
    font-family: monospace;
    font-size: 25px;
    margin: 0 10px;
    padding: 0;
}

.container {
    margin: 10px auto;
    width: fit-content;
    display: flex;
    font-family: monospace;
    font-size: 25px;
}

.container > * {
    margin: 10px;
}

.container input[type="range"] {
    width: 250px;
}

.container input[type="color"] {
    width: 40px;
    height: 40px;
}